body {
    background-color: black;
}

.bg-image {
    background-image: url('/data/img/Home.png');
    background-size: contain;      /* Ensures the image covers the entire element, cropping if needed */
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    /* background-attachment: fixed;  Ensures the image stays fixed during scrolling */
    margin: 0;                   /* Removes default body margin */
    height: 100vh;               /* Sets the body height to 100% of the viewport height */
    width: auto;
}

.bg-image2{
    /* Set the background image */
    background-image: url('/data/img/Home.png');
    /* Ensure the background covers the entire page */
    background-size: contain;
    /* The default behavior is 'scroll', but you can explicitly state it */
    background-attachment: scroll; /* */
    /* Add content space */
    background-repeat: no-repeat;
    background-position: center;
    height: 200vh; /* Example: make the page tall enough to scroll */
}

.faq-link{
    position: absolute;
    top: 90px;
    left: 1000px;
    width: 150px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}

.contact-link{
    position: absolute;
    top: 90px;
    left: 1175px;
    width: 180px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}

.contact-link{
    position: absolute;
    top: 90px;
    left: 1175px;
    width: 180px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}

.ticket-link{
    position: absolute;
    top: 750px;
    left: 410px;
    width: 515px;
    height: 180px;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}

.sponser-link{
    position: absolute;
    top: 750px;
    left: 965px;
    width: 525px;
    height: 180px;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}

.contact2-link{
    position: absolute;
    top: 1700px;
    left: 410px;
    width: 525px;
    height: 130px;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}

.classmate-link{
    position: absolute;
    top: 1700px;
    left: 960px;
    width: 530px;
    height: 130px;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
}